@model IEnumerable<StudentNetwork.Models.Friendship>

@{
    ViewData["Title"] = "Сообщения";
}


<table class="table">
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            <td style="width: 120px;">
                <a asp-action="Index" asp-controller="Account" asp-route-id="@item.Second.Id">
                    <picture round="true" image="item.Second.Image" />
                </a>
            </td>
            <td>
                <p>
                    <a onclick="location.href='@Url.Action("Chat", "Friends", new { item.Id })'">
                        @Html.DisplayFor(modelItem => item.Second.Name)
                        </a>
                </p>
                <p>
                    <vc:last-message chat-id="item.Chat.Id" />
                </p>

            </td>
        </tr>
        }
    </tbody>
</table>
