@model Group


<table class="table">
    <tbody>
        <tr>
            <td style="width: 120px;">
                <a asp-action="Index" asp-controller="Group" asp-route-id="@Model.Id">
                    <picture image="Model.Image" round="true"/>
                </a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Group" asp-route-id="@Model.Id" style="margin: 10px">
                    @($"№{Model.Number} \"{Model.Name}\"")                    
                </a>
            </td>
        </tr>
    </tbody>
</table>