@model IEnumerable<StudentNetwork.Models.Friendship>


@{
    ViewData["Title"] = "Friends";
}

<h2>@Localizer["Search"]</h2>

<form asp-controller="Friends" asp-action="Search">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="@Localizer["Search"]" />
    </p>
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Details", item.Second)
        }
    </tbody>
</table>
