@model IEnumerable<StudentNetwork.Models.Student>

@{
    ViewData["Title"] = "Search";
}

<h3>Search</h3>

<form asp-controller="Students" asp-action="Search">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

@foreach (var item in Model)
{
    @await Html.PartialAsync("_Details", item)
}