@model IEnumerable<StudentNetwork.Models.Student>

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form asp-controller="Students" asp-action="Search">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Details", item)
        }
    </tbody>
</table>
