@{
    ViewData["Title"] = "Edit";
}
@using StudentNetwork.ViewModels
<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @{Html.RenderPartial("EditUser", (UserEditModel)ViewBag.User);}
        @{Html.RenderPartial("ChangePassword", (PasswordChangeModel)ViewBag.Password);}
    </div>
</div>



