@model StudentNetwork.ViewModels.LoginModel

@{
    ViewData["Title"] = Localizer["Log in"];
}

<h2>Log in</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Localizer["Login"]" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Localizer["Password"]" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Log in"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


